@page "/"

<!--  Browser tab title  -->
<PageTitle>USING LISTS</PageTitle>

<!-- Greeting Message -->
<div class="container h100 ColVLeftHCenter">
    <div class="row m-0 p-0">
        <div class="col-12 m-5 p-0 ">
            <h2><b><u>Concepts of Lists and Usage Examples</u></b></h2>
            <br /><br />
            <h4><b>Part 1</b> : Concepts of Lists and building examples</h4>
            <br />
            <h4><b>Part 2</b> : Examples of ORDERBY and ORDERBYDESCENDING clauses</h4>
            <br />
            <h4><b>Part 3</b> : Examples of Count, SUM, AVERAGE </h4>
            <br />
            <h4><b>Part 4</b> : Examples of SUM, AVERAGE clauses on calculated values </h4>
            <br />
            <h4><b>Part 5</b> : How to calculate Standard Deviation of list values distributions </h4>
        </div>
    </div>
</div>

<style>
    .h100 { height: 100%; }
    .ColVLeftHCenter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-family: 'Montserrat';
        font-size: 2.5em;
        font-style: italic;
    }
    h4 {
        font-family: 'Montserrat';
        font-size: 1.5em;
    }
</style>

@code {

}