@using System.Collections;

<!--  Browser tab title  -->
<PageTitle>Using Delegates</PageTitle>

<!-- Greeting Message -->
<div class="container h100 ColVLeftHCenter">
    <div class="row m-0 p-0">
        <div class="col-12 m-5 p-0 ">
            <h2><b><u>Delegates</u></b></h2>
            <br /><br />
            <h4><b>Part 1</b> : Build a List of Random-generated Person Records</h4>
            <br />
            <h4><b>Part 2</b> : Delegates ? Passing a method like a parameter ? Hmmm, here is an example </h4>
            <br />
            <h4><b>Part 3</b> : Generic Delegates. Compare DELEGATE, FUNC, PREDICATE, ACTION </h4>
            <br />
            <h4><b>Part 4</b> : Build a PROGRESS BAR from scratch using DELEGATEs </h4>
            <br />
            <h4><b>Part 5</b> : Events. How to build and attend an event. </h4>
        </div>
    </div>
</div>

<style>
    .h100 {
        height: 100%;
    }

    .ColVLeftHCenter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 2.5em;
        font-style: italic;
    }

    h4 {
        font-family: 'Montserrat';
        font-size: 1.5em;
    }
</style>

@code {

}
